{% extends "index.html" %} {% set active_page = "index" %}

{% block content%}
  <div class="container text-center">
    <h2 class="display-4 mb-2 text-primary">Mpesa Statement Analysis</h2>
    <h3 class="text-muted">Allows to analyze Mpesa Statement </h3> </br>
    <h4 class="text-muted">
Analyze your M-PESA statements with ease. This tool automatically extracts, categorizes, and visualizes your transactions to help you understand your spending habits.
    </h4>
    <br></br>
    <div class="center">
      <form method="POST" action="/" enctype="multipart/form-data">
          <input type="file" name="file" class="btn btn-light">
              
      <input type="password" name="password" placeholder="Enter PDF password" required><br><br>
          <button class="btn btn-primary rounded-pill">Upload & Parse <i class="bi bi-cloud-arrow-down-fill m-2"></i> </button>
      </form>
  </div> </br>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

{% endblock%}