{% extends "index.html" %}  {% set active_page = "rawData" %}
{% block content%}
<div>
  <h3 class="text-muted">Raw Data</h3> </br>
    <form action="{{ request.path }}" method="POST">
      {{ form.csrf_token }} {{ form.hidden_tag() }}
      <div class="row">
        <div class="col-md-2">
          <label> Start Date</label>
          {{ form.startDate(class='form-control',type='date') }}
        </div>
        <div class="col-md-2">
          <label> End Date</label>
          {{ form.endDate(class='form-control',type='date') }}
        </div>
        <div class="col-md-2">
            <label> Refresh</label> </br>
          <button class="btn btn-primary" type="submit" value="submit">
            Refresh <i class="bi bi-cloud-arrow-up-fill m-2"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</br></br>
<div class="table-responsive">
  
  <table class="table table-bordered table-sm" id="myTable">
    <thead>
      <tr>
        <th>Receipt Number</th>
        <th>PaidIn</th>
        <th>Withdrawn</th> 
        <th>Balance</th>
        <th>Completion Time (UTC)</th>
        <th>Details</th>
        <th>Transaction Status</th>
      </tr>
    </thead>
    <tbody>
      {% for item in transactions %}
      <tr>
        <td>{{ item.ReceiptNo }}</td>
        <td>{{ item.PaidIn }}</td>
        <td>{{ item.Withdrawn }}</td>
        <td>{{ item.Balance }}</td>
        <td>{{ item.CompletionTime }}</td>
        <td>{{ item.Details }}</td>
        <td>{{ item.Status }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<script>
  $(document).ready( function () {
    $('#myTable').DataTable();
  } );
  </script>
{% endblock%}
